@using Classifieds.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zimpapers Classifieds</title>
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <!--[if IE]>
    <link rel="shortcut icon" href="~/Images/favicon.png" type="image/vnd.microsoft.icon" />
    <![endif]-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top topbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse main-menu">
                @Html.Partial("~/Views/Shared/Widgets/_MainMenu.cshtml")
                @Html.Partial("~/Views/Shared/Widgets/_LoginPartial.cshtml")
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/Widgets/_MainLogo.cshtml")
    <div class="search-bar">
        <div class="container search-bar">
            <div class="row ">
                <div class="col-md-12">@Html.Partial("~/Views/Shared/Widgets/Search/_MainSearch", (AListingSearchModel)ViewBag.searchViewModel)</div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-3">
                <div class="left-column">
                    @{
                        var model = (AListingSearchModel)ViewBag.searchModel;
                    }
                    @Html.Partial(model.searchWidgetView, model)
                </div>
            </div>
            <div class="col-md-9">@RenderBody()</div>
        </div>
        
    </div>
    @Html.Partial("_FooterFeaturedListings")
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
