@using Classifieds.Models
@model Classifieds.Models.AListingSearchModel
@using (Html.BeginForm(Model.action, Model.controller, FormMethod.Get, new { id = "search-form", @class = "" }))
{
    @*@Html.HiddenFor(model => model.from)*@
    @*@Html.HiddenFor(model => model.to)*@
    @*@Html.HiddenFor(model => model.location)*@
    <div class="main-search">
        <div class="row">
            <div class="">
                <div class="input-group">
                    @Html.TextBoxFor(m => Model.text, new { @class = "form-control input-lg", placeholder = "what are you looking for", style="margin:0" })
                    <div class="input-group-btn">
                        @* @Html.DropDownList("cat",Model.categories, "Choose category", new { @class="form-control input-lg",style="width:200px;border-radius:4px 0 0 4px;"})*@
                        @Html.DropDownListFor(c => c.cat, Model.categoriesSelectList, new { @class = "form-control input-lg", style = "width:200px;border-radius:0px 4px 4px 0px;" })
                        @Html.ValidationMessageFor(model => model.cat, "", new { @class="text-danger"})
                    </div><!-- /btn-group -->
                    
                    
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" style="color:#fff;border-radius:4px;margin:0px 10px 0 30px;padding-bottom:9px;" type="submit">
                            <span>Find it</span> <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    @*<span> @Html.ActionLink(" Advanced", "Home", "Search", null, new { @class = "btn-link",style="color:#fff;" })</span>*@
                </div><!-- /input-group -->
                @Html.ValidationMessageFor(model => model.text, "", new { @class="text-danger"})
            </div><!-- /.col-lg-8 -->
        </div>
    </div>
}
