@model Classifieds.Models.SearchViewModels.PropertiesSearchViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-filter"></i> Refine search results</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(Model.action, Model.controller, FormMethod.Get, new { }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.text)
            @Html.HiddenFor(model => model.cat)
            <input type="hidden" name="page" value="1" />
            <table class="table">
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.location)</label></td>
                    <td>
                        <div class="input-group ">
                            @Html.EditorFor(model => model.location, "", new { htmlAttributes = new { @class = "form-control", placeholder = "e.g Harare" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.location, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.Suburb)</label></td>
                    <td>
                        <div class="input-group ">
                            @Html.EditorFor(model => model.Suburb, "", new { htmlAttributes = new { @class = "form-control", placeholder = "e.g Avondale" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Suburb, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.from)</label></td>
                    <td>
                        <div class="input-group ">
                            <span class="input-group-addon">$</span>
                            @Html.EditorFor(model => model.from, "", new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.from, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.to)</label></td>
                    <td>
                        <div class="input-group ">
                            <span class="input-group-addon">$</span>
                            @Html.EditorFor(model => model.to, "", new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.to, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.MinBedrooms)</label></td>
                    <td>
                        <div class="input-group ">
                            @Html.EditorFor(model => model.MinBedrooms, "", new { htmlAttributes = new { @class = "form-control", placeholder = "e.g Avondale" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.MinBedrooms, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.MinBathrooms)</label></td>
                    <td>
                        <div class="input-group ">
                            @Html.EditorFor(model => model.MinBathrooms, "", new { htmlAttributes = new { @class = "form-control", placeholder = "e.g Avondale" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.MinBathrooms, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.MinBuildingArea)</label></td>
                    <td>
                        <div class="input-group ">
                            <span class="input-group-addon">m<sup>2</sup></span>
                            @Html.EditorFor(model => model.MinBuildingArea, "", new { htmlAttributes = new { @class = "form-control", placeholder = "e.g Avondale" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.MinBuildingArea, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label for="from">@Html.DisplayNameFor(model => model.Power)</label></td>
                    <td>
                        <div class="input-group ">
                            @Html.DropDownListFor(model => model.Power,Model.powers, new { @class = "form-control", placeholder = "" })
                        </div>
                        @Html.ValidationMessageFor(model => model.from, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm">
                            Refine search
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </td>
                </tr>

            </table>
        }
    </div>
</div>
