@model Classifieds.Models.WidgetViewModel.HotDealsViewModel
<div class="container">
    <div class="row">
        <div class="">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#hot" data-toggle="tab">Hot Deals</a></li>
                <li><a href="#latest" data-toggle="tab">Latest</a></li>
                <li><a href="#random" data-toggle="tab">Editor's Pick</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="hot">
                    <div class="featured-listings">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var deal in Model.RandomDeals)
                                        {
                                            <div class="col-md-2 featured-listing">
                                                <div class="featured-listing-image">
                                                    <a href="@Url.Action("details", "listing", new { id = deal.ListingId })">
                                                        <img class="img-responsive img-thumbnail" src="~/Images/Listings/Small/@deal.Listing.images.Last().Name" />
                                                    </a>

                                                </div>
                                                <div class="featured-listing-body">
                                                    <span class="featured-listing-title">@Html.ActionLink(deal.Listing.Title, "details", "listing", new { id = deal.ListingId }, new { })</span>
                                                    <div class="featured-listing-text">
                                                        @deal.Listing.getIntro(50)
                                                    </div>
                                                    <span class="featured-listing-price">$@deal.Listing.Price</span>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="latest">
                    <div class="featured-listings">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var deal in Model.LatestDeals)
                                        {
                                            <div class="col-md-2 featured-listing">
                                                <div class="featured-listing-image">
                                                    <a href="@Url.Action("details", "listing", new { id = deal.ListingId })">
                                                        <img class="img-responsive img-thumbnail" src="~/Images/Listings/Small/@deal.Listing.images.Last().Name" />
                                                    </a>

                                                </div>
                                                <div class="featured-listing-body">
                                                    <span class="featured-listing-title">@Html.ActionLink(deal.Listing.Title, "details", "listing", new { id = deal.ListingId }, new { })</span>
                                                    <div class="featured-listing-text">
                                                        @deal.Listing.getIntro(50)
                                                    </div>
                                                    <span class="featured-listing-price">$@deal.Listing.Price</span>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="random">
                    <div class="featured-listings">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        @foreach (var deal in Model.EditorPicks)
                                        {
                                            <div class="col-md-2 featured-listing">
                                                <div class="featured-listing-image">
                                                    <a href="@Url.Action("details", "listing", new { id = deal.ListingId })">
                                                        <img class="img-responsive img-thumbnail" src="~/Images/Listings/Small/@deal.Listing.images.Last().Name" />
                                                    </a>

                                                </div>
                                                <div class="featured-listing-body">
                                                    <span class="featured-listing-title">@Html.ActionLink(deal.Listing.Title, "details", "listing", new { id = deal.ListingId }, new { })</span>
                                                    <div class="featured-listing-text">
                                                        @deal.Listing.getIntro(50)
                                                    </div>
                                                    <span class="featured-listing-price">$@deal.Listing.Price</span>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


