@model Classifieds.Models.ViewModels.AListingViewModel
<div class="listing_seller">
    @{
        if (!String.IsNullOrEmpty(@Model.Owner.Alias))
        {
            <h3>@Html.DisplayFor(m => Model.Owner.Alias)</h3>
        }
        else
        {
            <h3>@Html.DisplayFor(m => Model.Owner.FullName) </h3>
        }
    }
            @* <img src="~/IMages/User/zimoco.jpg" />*@
            <ul class="seller-details">
                <li>
                    @Html.DisplayFor(m=>Model.Owner.Address)
                </li>
                <li>
                    @Html.DisplayFor(m=>Model.Owner.Phone)
                </li>
                <li><a href="#">Email Seller</a></li>
            </ul>

</div>
