@model Classifieds.Models.ViewModels.AListingViewModel

<div class="listing-times"><small>started: @Html.ToWords(Model.Created)
      @if(Model.Updated > Model.Created){
          <span>, updated : @Html.ToWords(Model.Updated)</span>
      }</small></div>
<div class="row">
    <div class="col-md-12 details">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="details-title">@Html.DisplayFor(c => Model.Title)@if(Model.Deal != null){<span style="float:right">Hot deal</span>}</h3>
                <ul class="descripto">
                    @if (!String.IsNullOrEmpty(Model.Description))
                    {
                        <li class="description">@Html.DisplayFor(c => Model.Description)</li>
                    }
                    @if (!String.IsNullOrEmpty(Model.Town))
                    {
                        <li><strong>@Html.DisplayFor(c => Model.Town)</strong></li>
                    }
                    @if (Model.Price > 0)
                    {
                        <li><strong>@Html.DisplayFor(c => Model.Price)</strong></li>
                    }

                </ul>
                <br/>
            <span style="float:left;">@Html.ActionLink("Email seller", "contactseller", "email", new { id = @Model.ListingId }, new { @class = "btn btn-info" })</span> 
                <small style="float:right">@Html.ActionLink("Report abuse", "reportabuse", "feedback", new { id = @Model.ListingId }, new { @class = "btn-link" })</small>
            </div>
             
        </div>
        
    </div>

</div>

<div class="row">
    <div class="col-md-6 ">
        @{

            if (Model.Images.Count > 0)
            {
                var images = Model.Images.OrderByDescending(o => o.Created).ToList();
                var img = images.First();
                string thumb = Url.Content("~/Images/Listings/Med/" + img.Name);
                string src = Url.Content("~/Images/Listings/Big/" + img.Name);
                <a href="@src" class="lighter" data-options="
                         ajax: {
                           type: 'get',
                           cache: true,
                         }" id=" ilightbox">
                    <img class="img-thumbnail img-responsive" src="@thumb" />
                </a>
            }
        }
    </div>
    <div class="col-md-6 details-thumbs">
        @if (Model.Images.Count() > 1)
        {
            foreach (var img in Model.Images)
            {
                if (!String.IsNullOrEmpty(img.Name) && img != Model.Images.First())
                {
                    string thumb = Url.Content("~/Images/Listings/Small/" + img.Name);
                    string src = Url.Content("~/Images/Listings/Big/" + img.Name);

                    <a href="@src" class="lighter" data-options="
                         ajax: {
                           type: 'get',
                           cache: true,
                         }" id=" ilightbox">
                        <img class="img-thumbnail img-responsive" src="@thumb" />
                    </a>
                }
            }
        }
    </div>

</div>


  
