@using Microsoft.AspNet.Identity
@using Classifieds.Library
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" style="margin-right:-5px">
        <li class="log">
            Hi @User.Alias()
        </li>
        <li>
            <a href="@Url.Action("index","listing",null)" class="btn btn-toolbar"><i class="glyphicon glyphicon-user"></i> My Account</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-toolbar">Log off <i class="glyphicon glyphicon-log-out"></i></a> </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",@class="btn btn-xs btn-toolbar" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-xs btn-toolbar" })</li>
    </ul>
}
