<ul class="nav navbar-nav">
    <li><a href="@Url.Action("index","home")"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>@Html.ActionLink("Post Advert", "choose", "listing")</li>
    <li>@Html.ActionLink("Stores", "about", "home")</li>
    <li>@Html.ActionLink("Deals & Offers", "about", "home")</li>
    <li>@Html.ActionLink("Email Classifieds", "email", "home")</li>
    <li>@Html.ActionLink("Advertise", "about", "home")</li>
    <li>@Html.ActionLink("Contact Us", "contact", "home")</li>
</ul>
