@model Classifieds.Models.SearchViewModels.DatingSearchViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="glyphicon glyphicon-filter"></i> Refine search results</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(Model.action, Model.controller, FormMethod.Get, new { }))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.text)
            @Html.HiddenFor(model => model.cat)
            <input type="hidden" name="page" value="1" />
            <table class="table">
                
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.Type)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.Type, Model.types, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.MinAge)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.MinAge, "", new { htmlAttributes = new { @class = "form-control", placeholder = " " } })
                        </div>
                        @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.MaxAge)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.MaxAge, "", new { htmlAttributes = new { @class = "form-control", placeholder = " " } })
                        </div>
                        @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.MinHeight)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.MinHeight, "", new { htmlAttributes = new { @class = "form-control", placeholder = " " } })
                        </div>
                        @Html.ValidationMessageFor(model => model.MinHeight, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.Sex)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.Sex, Model.sexes, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.Ethnicity)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.Ethnicity, "", new { htmlAttributes = new { @class = "form-control", placeholder = "e.g Black" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Ethnicity, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.Religion)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.EditorFor(model => model.Religion, "", new { htmlAttributes = new { @class = "form-control", placeholder = "" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Religion, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.Smoke)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.Smoke, Model.yesno, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Smoke, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td><label>@Html.DisplayNameFor(model => model.Drink)</label></td>
                    <td>
                        <div class="input-group input-group-sm">
                            @Html.DropDownListFor(model => model.Drink, Model.yesno, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Drink, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-info btn-sm">
                            Refine search
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </td>
                </tr>

            </table>
        }
    </div>
</div>
