@model Classifieds.Models.ViewModels.EmailSubscriptionListViewModel
@using Classifieds.Areas.Admin.Models
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/Layouts/_Layout_Pages.cshtml";
}

<h2>Classifieds to your email, it's easy!</h2>
@if (!String.IsNullOrEmpty((String)ViewBag.Message))
{
    <div class="alert alert-success" role="alert">@ViewBag.Message</div>
}
<p>
    We will send you new Daily or Weekly listings to you email depending on your choice for options below.
</p>
<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Daily</th>
                            <th>Weekly</th>
                        </tr>

                    </thead>
                    <tbody>
                        @*<tr>
                                <td><strong>All Categories</strong></td>
                                <td>@Html.RadioButtonFor(m => Model.Cat[0], "daily", new { })</td>
                                <td>@Html.RadioButtonFor(m => Model.Cat[0], "weekly", new { })</td>
                            </tr>*@
                        @Html.EditorFor(m => Model.Groups)
                        <tr>
                            <td>@Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label" })</td>
                            <td colspan="2">
                                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "your name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })</td>
                            <td colspan="2">
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "your email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Subscribe  @Html.RadioButtonFor(m => m.subscriptionType, "subscribe", new { @checked = "checked" })</td>
                            <td>Un-subscribe from all @Html.RadioButtonFor(m => m.subscriptionType, "unsubscribe")</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Update" class="btn btn-default" />
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


