@model Classifieds.Models.ViewModels.AutosViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/Layouts/_ListingDetails.cshtml";
}

@*<h2><i class="glyphicon glyphicon-search"></i> #@Html.DisplayFor(c=>Model.Title)</h2>*@
@if (ViewBag.crumbs != null)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        @{
    SortedDictionary<string, int> crumbs = (SortedDictionary<string, int>)ViewBag.crumbs;
    foreach (var crumb in crumbs)
    {
        <li>@Html.ActionLink(crumb.Key, "index", "browse", new { cat = crumb.Value }, new { })</li>
    }
        }
    </ol>
}
<div class="listing-details">
@Html.Partial("~/Views/Shared/Widgets/_ListingDetails.cshtml",Model)
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm more-details">
                <div class="panel panel-default">
                    <table class="table">
                        @if (!String.IsNullOrEmpty(Model.Make))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.Make)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.Make)</td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.CarModel))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.CarModel)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.CarModel)</td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Year))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.Year)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.Year)</td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.BodyType))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.BodyType)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.BodyType)</td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Condition))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.Condition)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.Condition)</td>
                            </tr>
                        }
                        @if (Model.EngineSize > 0)
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.EngineSize)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.EngineSize) <strong>L</strong></td>
                            </tr>
                        }
                        @if (Model.Mileage >= 0)
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.Mileage)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.Mileage) <strong>Km</strong> </td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.FuelType))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.FuelType)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.FuelType)</td>
                            </tr>
                        }
                        @if (!String.IsNullOrEmpty(Model.Transmission))
                        {
                            <tr>
                                <td>
                                    <strong>@Html.DisplayNameFor(m => m.Transmission)</strong>
                                </td>
                                <td>@Html.DisplayFor(m => m.Transmission)</td>
                            </tr>
                        }
                    </table>
                    </div>
                </div>
            @if (Model.Images.Count > 0)
            {
                <div>@Html.ActionLink("Email seller", "contactseller", "email", new { id = @Model.ListingId }, new { @class = "btn btn-info" })</div>
            }
        </div>
        
    </div>
</div>

