@model Classifieds.Models.ViewModels.CellphonesViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/Layouts/_ListingDetails.cshtml";
}

@*<h2><i class="glyphicon glyphicon-search"></i> #@Html.DisplayFor(c=>Model.Title)</h2>*@
@Html.Partial("~/Views/Listing/Details/_BreadCrumbs.cshtml",(SortedDictionary<string, int>)ViewBag.crumbs)
<div class="listing-details">
    @Html.Partial("~/Views/Shared/Widgets/_ListingDetails.cshtml", Model)
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm more-details">
                        <div class="list-more">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table">
                                        @if (!String.IsNullOrEmpty(Model.OS))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.OS)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.OS)</td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Brand))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Brand)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Brand)</td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.CModel))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.CModel)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.CModel)</td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.NetworkType))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.NetworkType)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.NetworkType)</td>
                                            </tr>
                                        }
                                        @if (Model.ScreenSize > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.ScreenSize)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.ScreenSize)"</td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Condition))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Condition)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Condition)</td>
                                            </tr>
                                        }
                                    </table>
                        </div>
                    </div>
                            @if (Model.Images.Count > 0)
                            {
                                <div>@Html.ActionLink("Email seller", "contactseller", "email", new { id = @Model.ListingId }, new { @class = "btn btn-info" })</div>
                            }
                </div>
            </div>
        </div>

    </div>
</div>

