@model Classifieds.Models.ViewModels.ComputersViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/Layouts/_ListingDetails.cshtml";
}

@*<h2><i class="glyphicon glyphicon-search"></i> #@Html.DisplayFor(c=>Model.Title)</h2>*@
@if (ViewBag.crumbs != null)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        @{
    SortedDictionary<string, int> crumbs = (SortedDictionary<string, int>)ViewBag.crumbs;
    foreach (var crumb in crumbs)
    {
        <li>@Html.ActionLink(crumb.Key, "index", "browse", new { cat = crumb.Value }, new { })</li>
    }
        }
    </ol>
}
<div class="listing-details">
@Html.Partial("~/Views/Shared/Widgets/_ListingDetails.cshtml", Model)
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm more-details">
                        <div class="list-more">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table">
                                        @if (!String.IsNullOrEmpty(Model.Brand))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Brand)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Brand)</td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Condition))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Condition)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Condition)</td>
                                            </tr>
                                        }
                                        @if ( Model.HddSize > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.HddSize)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.HddSize)</td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Processor))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Processor)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Processor)</td>
                                            </tr>
                                        }
                                        @if ( Model.Ram > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Ram)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Ram)</td>
                                            </tr>
                                        }
                                        @if (Model.ScreenSize > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.ScreenSize)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.ScreenSize) <strong>L</strong></td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                            @if (Model.Images.Count > 0)
                            {
                                <div>@Html.ActionLink("Email seller", "contactseller", "email", new { id = @Model.ListingId }, new { @class = "btn btn-info" })</div>
                            }
                </div>
            </div>
        </div>
        
    </div>
</div>

