@model Classifieds.Models.ViewModels.JobsViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/Layouts/_ListingDetails.cshtml";
}

@*<h2><i class="glyphicon glyphicon-search"></i> #@Html.DisplayFor(c=>Model.Title)</h2>*@
@if (ViewBag.crumbs != null)
{
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        @{
    SortedDictionary<string, int> crumbs = (SortedDictionary<string, int>)ViewBag.crumbs;
    foreach (var crumb in crumbs)
    {
        <li>@Html.ActionLink(crumb.Key, "index", "browse", new { cat = crumb.Value }, new { })</li>
    }
        }
    </ol>
}
<div class="listing-details">
@Html.Partial("_ListingDetails",Model)
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm more-details">
                <ul class="nav nav-tabs ">
                    <li class="active"><a href="#hot" data-toggle="tab">More Details</a></li>
                    <li><a href="#contact" data-toggle="tab">Contact Seller</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="hot">
                        <div class="list-more">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table">
                                        @if (!String.IsNullOrEmpty(Model.Type))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Type)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Type)</td>
                                            </tr>
                                        }
                                        @if (Model.MinSalary > 0 || Model.MaxSalary > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>Salary </strong>
                                                </td>
                                                <td>
                                                    @if (Model.MinSalary > 0) {<span>From </span>@Html.DisplayFor(m => m.MinSalary) } 
                                                    @if(Model.MaxSalary > 0 ){<span>Up to @Html.DisplayFor(m=>m.MaxSalary)</span>}
                                                </td>
                                            </tr>
                                        }
                                        @if ( Model.MinAge > 0 || Model.MaxAge > 0)
                                        {
                                            <tr>
                                                <td>
                                                    <strong>Age range</strong>
                                                </td>
                                                <td>
                                                    @if (Model.MinAge > 0)
                                                    {<span>From </span>@Html.DisplayFor(m => m.MinAge) }
                                                    @if (Model.MaxAge > 0)
                                                    {<span>Up to @Html.DisplayFor(m => m.MaxAge)</span>}
                                                </td>
                                            </tr>
                                        }
                                        @if (!String.IsNullOrEmpty(Model.Tags))
                                        {
                                            <tr>
                                                <td>
                                                    <strong>@Html.DisplayNameFor(m => m.Tags)</strong>
                                                </td>
                                                <td>@Html.DisplayFor(m => m.Tags)</td>
                                            </tr>
                                        }
                                       
                                       
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact">
                       @Html.Partial("_ContactSeller")
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

