@using Classifieds.Models.ViewModels
@model Classifieds.Models.SearchViewModels.ListingSearchViewModel
@{
    ViewBag.Title = "Home";
}
<hr/>
<div class="container">
    <div class="row">
        <div class="featured-home ">
            <div class="col-md-3">
                <!--/* Revive Adserver iFrame Tag v3.0.5 */-->
                <iframe id='a4b6ebea' name='a4b6ebea' src='http://localhost/revive/www/delivery/afr.php?zoneid=3&amp;target=_blank&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='300' height='250'><a href='http://localhost/revive/www/delivery/ck.php?n=a01f9de6&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://localhost/revive/www/delivery/avw.php?zoneid=3&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a01f9de6' border='0' alt='' /></a></iframe>
            </div>
            <div class="col-md-9" style="padding-right:0;">
                <iframe id='a6daffbc' name='a6daffbc' src='http://localhost/revive/www/delivery/afr.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='860' height='250'><a href='http://localhost/revive/www/delivery/ck.php?n=a5d55933&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://localhost/revive/www/delivery/avw.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a5d55933' border='0' alt='' /></a></iframe>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<hr />
<div class="container" style="padding:0;">
    
        <div class="home-cats">
            @{
                int total = Model.topCategories.Count();
                int rem = total % 4;
                int rows = (int)Math.Floor((double)total / 4);
                var cats = Model.topCategories.ToArray();
                int j = 0;
            }
            <div class="row">
                @for (int i = 0; i < 4; i++)
                {

                    <div class="col-md-3">
                        <div class="home-cat">
                            @for (int c = 0; c < rows; c++)
                            {
                                var subs = cats[j].getSubCategories();
                                <h3>@Html.ActionLink(cats[j].Title, "index", "browse", new { cat = cats[j].CategoryId }, new { })</h3>
                                <div class="blok-vider">
                                    @if (subs != null && subs.Count() > 0)
                                    {
                                        <ul class="sub-cats">
                                            @foreach (var category in subs)
                                            {
                                                <li>@Html.ActionLink(category.Title, "index", "browse", new { cat = category.CategoryId }, new { })</li>
                                            }
                                        </ul>
                                    }
                                </div>
                                    j++;
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                @for (int v = 0; v < rem; v++)
                {
                    var subs = cats[j].getSubCategories();
                    <div class="col-md-3">
                        <div class="home-cat">
                            <h3>@Html.ActionLink(cats[j].Title, "index", "browse", new { cat = cats[j].CategoryId }, new { })</h3>
                            <div class="blok-vider">
                                @if (subs != null && subs.Count() > 0)
                                {
                                    <ul class="sub-cats">
                                        @foreach (var category in subs)
                                        {
                                            <li>@Html.ActionLink(category.Title, "index", "browse", new { cat = category.CategoryId }, new { })</li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>

                }
        </div>

    </div>
</div>
<hr />
    <div class="row">
        @Html.Action("HotDeals", "widget")
    </div>

